.reports-page {

}

.report-filters {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  margin: 20px 0;
  padding: 0;
}

/******************/
/* REPORTS LIST HEADER  */
/******************/

.report-actions button:first-of-type {
  margin-right: 10px;
}

.filter-hide {
  color: #199cd8;
}

.filter-hide-reset div i {
  margin: 0 7px 0 0;
}

.filter-hide-reset div:first-child {
  margin: 0 30px 0 0;
}

.filter-hide-reset div {
  cursor: pointer;
  opacity: 0.8;
}

.filter-hide-reset div:hover,
.filter-hide-reset div:focus,
.filter-hide-reset div:active {
  opacity: 1;
}

/******************/
/*  REPORTS LIST ROWS   */
/******************/


.report-row {
  display: flex;
  align-items: center;
  padding: 0  0 20px;
}

.report-row.filter-hide-reset {
  height: 50px;
}

.report-row.report-date-row {
  height: 50px;
}

.report-row.report-search-row {
  height: 50px;
}

.report-row.report-checkbox-row {
  height: 50px;
}

.report-row > i {
  margin: 0 7px 0 0;
  font-size: 1.4em;
  color: #73787c;
}

/******************/
/* REPORTS LIST SEARCH ROW  */
/******************/

.search-field {
  display: inline-block;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}

.search-field input, 
.search-field button {
  height: 30px;
  margin: 0;
}

.search-field input {
  padding: 1px 1px 1px 5px;
}

.search-field button {
  text-align: center;
}

.search-field button i {
  text-align: center;
}



/*************************/
/* REPORTS LIST CHECKBOX ROW  */
/************************/


.filter-checkbox {
  margin: 0 14px 0 0;
  padding: 5px 10px;
  height: 36px;
  display: inline-block;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.filter-checkbox * {
  cursor: pointer;
}

.filter-checkbox:hover,
.filter-checkbox:focus,
.filter-checkbox:active {
  opacity: 1;
}


.filter-checkbox input {
  margin: 0 5px 0 0;
}

.filter-checkbox > input {
  margin: 0 5px 0 0;
}

.filter-checkbox label {
  width: 110px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}


/*************************/
/* REPORTS LIST MONTHLY STATEMENT TABLE  */
/************************/

.monthly-statement-grid {
  grid-template-columns: 20px 2fr 1fr 1fr 1fr 1fr;
}

.large-table-summary {
  border-radius: 20px;
}

.monthly-statement-summary-total {
  text-align: right;
}

.large-table .monthly-statement-summary-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/*************************/
/* REPORT FORM  */
/************************/

.content-wrapper.report-form-header {
  border-bottom: 1px solid #d4d4d4;
  margin: 0 0 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d4d4d4;
}

.report-form {
  padding: 20px;
  background: #fff;
  border-radius: 6px;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0 0 20px;
  border-bottom: 2px solid #d4d4d4;
}

.report-header .form-control {
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.report-form .form-control select {
  width: 100px;
}

