@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-daterangepicker/daterangepicker.css';

/**************************/
/*    RESET STYLES        */
/**************************/

@import './styles/reset.css';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}

div#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 280px auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**************************/
/*    MAIN STYLES         */
/**************************/

main {
  margin: 0;
  padding: 0;
  background: #eaeaea;
  height: 100%;
  min-width: calc(1150px - 280px);
  font-size: 1.2em;
  color: #999;
  /* display: grid; */
  /* grid-template-rows: 77px auto; */
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #d4d4d4;
}

main header h1 {
  color: #4B5B60;
  margin: 0;
  font-size: 2em;
}

.date-range {
  text-align: center;
}

.date-range-label {
  margin-right: 10px;
}

/**************************/
/*    CONTENT WRAPPERS    */
/**************************/

.content-wrapper {
  margin: 20px;
}

.leftSideBar-and-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.rightSideBar-and-content-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}


/*************************/
/*       FORM STYLES    */
/************************/

.form-control {
  display: flex;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  align-items: center;
  height: auto;
}

.form-control input, 
.form-control select {
  height: 30px;
}

.form-control input:not([type="checkbox"]), 
.form-control select {
  border-radius: 5px;
  width: 250px;
}

.form-control label:first-child,
.form-control input:first-child {
  margin-right: 10px;
}

.form-control label:first-child {
  width: 70px;
  text-align: right;
}

.card .form-actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
}

/**************************/
/*    CARD STYLES         */
/**************************/

.card {
  background: #fff;
  border-radius: 6px;
  margin: 0 0 20px;
}

.card h3 {
  margin: 0 0 20px;
}

.card, 
.modal-content-wrapper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  border-radius: 6px;
  padding: 15px;
}

/*************************/
/*       MODAL STYLES    */
/************************/

.modal {
  display: block;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,0.8);
  background:rgba(0,0,0,.7);
  overflow: auto;
}

.modal-content {
  position: relative;
  
  /* max-width: 800px; */
  top: 40px;
  bottom: 0;
  /* left: calc(50% - 400px); */
  height: auto;
  
  padding: 3%;
  border-radius: 6px;
  text-align: center;
  background: #fff;

  display: grid;

  grid-template-rows: auto;
  grid-gap: 10px;
}

.modal-content h2 {
  margin: 10px 0 15px;
  padding: 0;
}

.modal .form-control.billable input {
  margin-left: 105px;
}

.modal .form-control.action-buttons {
  justify-content: flex-end;
}

.modal .form-control.action-buttons button:first-of-type {
  margin-right: 20px;
}

/*************************/
/*  LARGE TABLE STYLES  */
/************************/

.large-table {
  margin: 0;
  padding: 20px;
  align-items: center;
  display: grid;
  height: auto;
}

.large-table-summary {
  background: #fff;
}

.large-table > div {
  margin-right: 10px;
}

.large-table > div:last-child {
  margin: 0;
}

.large-table > div > i {
  margin-right: 5px;
}

.large-table-header {
  margin: 20px;
  padding: 0;
}

/*************************/
/*    SMALL TABLE STYLES  */
/************************/

.small-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid > span {
  padding: 8px 4px;
}

.small-table span:nth-child(-n+3) {
  background: #eaeaea;
  border-bottom: 2px solid #d4d4d4;
}

.small-table span {
  padding: 7px 14px;
}

/*************************/
/*       PAGINATION     */
/************************/

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.pagination div {
  margin-right: 20px;
}

.pagination button {
  padding: 5px 13px;
  font-size: 1.3em;
  border-radius: 3px;
}

/************************/
/*     BUTTON STYLES    */
/************************/

.btn {
  width: 100px;
  padding: 5px 0;
  border-radius: 5px;
  height: 37px;
  cursor: pointer;
  font-weight: 700;
}

.btn-action-1 {
  background: #35CC67;
  color:  #fff;
  opacity: .8;
}

.btn-action-2 {
  background: #fff;
  color: #548CAA;
  border: 1px solid #548CAA;
}

.btn-cancel {
  background: #fff;
  color: #548CAA;
  border: 1px solid #999;
}

.btn-save {
  border: 1px solid #35CC67;
  color:  #35CC67;
  background: #fff;
}

.btn-action-1:hover,
.btn-action-1:active,
.btn-action-1:focus {
  opacity: 1;
  color: #fff;
}

/**************************/
/*  STATUS LABEL STYLES   */
/**************************/

.status-label {
  padding: 3px;
  border-radius: 18px;
  width: 106px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  opacity: 0.8;
}

.open {
  background: #199cd8;
}

.processing {
  background: #0f6986;
}

.approved {
  background: #33b567;
}

.reimbursed {
  background: #295232;
}

.closed {
  background: #bbb;
  color: #4B5B60;
}

/**************************/
/*  Drag and Drop Stuff   */
/**************************/


.drag-drop-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.drag-drop-box {
  background: #eaeaea;
  height: 280px;
  overflow-y: scroll;
}

.drag-drop-box-content {
  height: 101%;
}

.draggable-expense {
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
}

.unassigned-expenses{

}


.selected-expenses {

}

