@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-daterangepicker/daterangepicker.css';

/**************************/
/*    RESET STYLES        */
/**************************/

@import './styles/reset.css';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**************************/
/*    MAIN STYLES         */
/**************************/

main {
  margin: 0;
  padding: 0;
  background: #eaeaea;
  position: absolute;
  top: 0;
  left: 280px;
  height: 100%;
  width: calc(100% - 280px);
  min-width: calc(1150px - 280px);
  font-size: 1.2em;
  color: #999;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #d4d4d4;
}

main header h1 {
  color: #4B5B60;
  margin: 0;
  font-size: 2em;
}

aside.side-nav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 280px;
}

.date-range {
  text-align: center;
}

.date-range-label {
  margin-right: 10px;
}


/**************************/
/*    CONTENT WRAPPERS    */
/**************************/

.content-wrapper {
  margin: 20px;
}

.leftSideBar-and-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.rightSideBar-and-content-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

/*************************/
/*       PAGINATION     */
/************************/

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.pagination div {
  margin-right: 20px;
}

.pagination button {
  padding: 5px 13px;
  font-size: 1.3em;
  border-radius: 3px;
}

/*************************/
/*       MODAL STYLES    */
/************************/

.modal {
  display: block;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,0.8);
  background:rgba(0,0,0,.7);
  overflow: auto;
}

.modal-content {
  position: relative;
  
  max-width: 800px;
  top: calc(50% - 60px);
  bottom: 0;
  left: calc(50% - 400px);
  height: auto;
  
  padding: 3%;
  border-radius: 6px;
  text-align: center;
  background: #fff;

  display: grid;

  grid-template-rows: auto;
  grid-gap: 10px;
}

.modal-content h2 {
  margin: 10px 0 15px;
  padding: 0;
}

.modal-content-wrapper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
  border-radius: 6px;
  padding: 10px;
}

.modal .form-control {
  display: flex;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  align-items: center;
}

.modal .form-control label:first-child,
.modal .form-control input:first-child {
  margin-right: 10px;
}

.modal .form-control label:first-child {
  width: 100px;
  text-align: right;
}

.modal .form-control.billable input {
  margin-left: 105px;
}

.modal .form-control.action-buttons {
  justify-content: flex-end;
}

.modal .form-control.action-buttons button:first-of-type {
  margin-right: 20px;
}

.modal .form-control input, 
.modal .form-control select {
  height: 30px;
}


.modal .form-control input:not([type="checkbox"]), 
.modal .form-control select {
  border-radius: 5px;
  width: 250px;
}